{% extends "recordtable.html" %}
{% block fields_view %}

  <li v-for="record in values" :data-search-term="record.Comment" class="list-group-item">
  <a href="#" :onClick="'getRecordForm(\''+ table +'\',\'recordform.html\',\'' + record.id + '\')'">
  {%raw%}{{record.Comment}} - {{record.TransDate}} de {{record.StartTime}} a {{record.EndTime}} {%endraw%}
  </a></li>

{% endblock %}


{% block button_script %}
<script type=text/javascript>
  getRecordList('Activity','Comment,StartTime,EndTime,TransDate,id','','TransDate');
</script>
{% endblock %}
