{% extends "recordtable.html" %}
{% block title %}
<h2>Clientes</h2>
{% endblock %}

{% block fields_view %}

  <li v-for="record in values" :data-search-term="record.Comment" class="list-group-item" v-if="record.Closed==0">
  <a href="#" :onClick="'getRecordForm(\''+ table +'\',\'recordform.html\',\'' + record.id + '\')'">
      {%raw%}{{record.Name}} - {{record.UserType}}{%endraw%}
   </a></li>

{% endblock %}

{% block button_script %}
<script type=text/javascript>
  getCustomerList('User','Name,id,UserType,Closed',{{var['favorite']}});
</script>
{% endblock %}
