<div class="container-fluid" id="container-fluid">
  {% block container %}
   <div class="row bg-title">
      <!-- .page title -->
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
         <h4 class="page-title">¡Bienvenid@!</h4>
      </div>
      <!-- /.page title -->
      <!-- .breadcrumb -->
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
         <ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li class="active">P&aacute;gina de Inicio</li>
         </ol>
      </div>
      <!-- /.breadcrumb -->
   </div>
   <!-- .row -->
   <div class="row">
      <div class="col-md-12">
         <div class="white-box">
            <h3 class="box-title">Mensaje de Bienvenida</h3>
         </div>
      </div>
    </div>
  {% endblock %}
  <!--div id='calendar_id' class='calendar_id'></div-->
</div>
