<div class="container-fluid" id="container-fluid">
  {% block container %}
   <div class="row bg-title">
      <!-- .page title -->
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
         <h4 class="page-title">¡Bienvenid@!</h4>
      </div>
      <!-- /.page title -->
      <!-- .breadcrumb -->
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
         <ol class="breadcrumb">
            <li><a href="#" onclick="showDashboard()">Dashboard</a></li>
            <li class="active">P&aacute;gina de Inicio</li>
         </ol>
      </div>
      <!-- /.breadcrumb -->
   </div>
   <!-- .row -->
   <div class="row" >
      <div class="col-md-12" id="dashboard">
         <div class="white-box">
            <h3 class="box-title">{%raw%}{{currentdate}}{%endraw%}</h3>
         </div>
      </div>
      <div class="col-xs-12 col-md-6" id="notifications">
        <div class="white-box">
          <h3 class="box-title">Notificaciones</h3>
          <li v-if="cnt==0" class="list-group-item">
             <div>{%raw%}{{news}}{%endraw%}</div>
          </li>
          <li v-for="record in values" class="list-group-item">
            <a href="#" :onClick="'getRecordForm(\'Notification\',\'recordform.html\',\'' + record.id + '\',\'setNotificationRead('+record.id+')\')'" >
            {%raw%}{{record.TransDate}} - {{record.Comment}}{%endraw%}</a>
          </li>
         </div>
      </div>
      <div class="col-xs-12 col-md-6" id="record_list">
        <div class="white-box">
          <h3 class="box-title">Pr&oacute;ximas Actividades</h3>
          <li v-for="record in values" class="list-group-item">
          <a href="#" :onClick="'getRecordForm(\''+ table +'\',\'activityform.html\',\'' + record.id + '\')'">
            <div v-if="user_type==3">
              {%raw%}{{record.CompanyId}} - {{record.ProfId}} - {{record.ServiceId}} - {{record.TransDate}} de {{record.StartTime}} a {{record.EndTime}} - {{record.Status}}{%endraw%}
            </div>
            <div v-if="user_type!=3 && record.CustId">
              {%raw%}{{record.CustId}} - {{record.ServiceId}} - {{record.TransDate}} de {{record.StartTime}} a {{record.EndTime}} - {{record.Status}}{%endraw%}
            </div>
            <div v-if="user_type!=3 && !record.CustId">
              {%raw%}{{record.Comment}} - {{record.ServiceId}} - {{record.TransDate}} de {{record.StartTime}} a {{record.EndTime}} - {{record.Status}}{%endraw%}
            </div>
          </a></li>
        </div>
      </div>
    </div>
  {% endblock %}
  <!--div id='calendar_id' class='calendar_id'></div-->
</div>

<script src="{{ url_for('blue_dondefluir.static', filename='js/vuedashboard.js') }}"></script>
<script src="{{ url_for('static', filename='js/vuerecordlist.js') }}"></script>

<script type=text/javascript>
  getCurrentUser(function(){
    getRecordList('Activity','Comment,StartTime,EndTime,TransDate,id,Status,ServiceId,CustId,CompanyId,ProfId','5','TransDate');
  });
  getCurrentDate()
</script>
