
<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse slimscrollsidebar">
     <ul class="nav" id="side-menu">
        <li class="sidebar-search hidden-sm hidden-md hidden-lg">
        </li>
        <li>
           <a href="#" onClick="showDashboard()" class="waves-effect active"><i class="ti-dashboard p-r-10"></i> <span class="hide-menu"><b>Inicio</b></span></a>
        </li>
        {% for index in getModulesDir() %}
        {% set module = getModulesDir()[index] %}
        <li class="user-pro" >

          <a href="#"  v-if="{{module|length}}==1"
            :onClick="'getTemplateModule(\'container-fluid\',\'{{index}}\','+ 0 + ')'"
            class="waves-effect">
            <i data-icon="F" :class="'fa ' + '{{module[0].Image}}' + ' fa-fw'"></i>
            <span class="hide-menu"> <b ref="module-{{index}}"></b>
            </span>
          </a>

          <a href="#" class="waves-effect" v-if="{{module|length}}>1">
            <i data-icon="F" :class="'fa ' + '{{module[0].Image}}' + ' fa-fw'"></i>
            <span class="hide-menu">  <b ref="module-{{index}}">{{index}}</b>
              <span class="fa arrow">
              </span>
            </span>
          </a>
          <ul class="nav nav-second-level" v-if="{{module|length}}>1">
            <li v-for="(table,index) in values['{{index}}']">
              <a href="javascript:void(0)"  :onClick="'getTemplateModule(\'container-fluid\',\'{{index}}\','+ index + ')'">
                <i data-icon="F" :class="'fa ' + table.Image + ' fa-fw'"></i>
                {%raw%}{{table.Name}}{%endraw%}
              </a>
            </li>
          </ul>
        </li>
        {% endfor %}
     </ul>
  </div>
</div>

<script src="{{ url_for('static', filename='js/vuemodules.js') }}"></script>
