
<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse slimscrollsidebar">
     <ul class="nav" id="side-menu">
        <li class="sidebar-search hidden-sm hidden-md hidden-lg">
        </li>
        <!-- User profile-->
        <li class="user-pro">
           <a href="#" class="waves-effect">
            <img src="{{image_url}}" alt="user-img"  class="img-circle">
              <span class="hide-menu">{{current_user.Name}}<span class="fa arrow">
              </span>
            </span>
           </a>
           <ul class="nav nav-second-level">
              <li>
                <a href="javascript:void(0)" onClick="getRecordForm('User','recordform.html',id='{{current_user.id}}',runFunction='OpenCloseMenu()')">
                  <i class="ti-user"></i> Perfil
                </a>
              </li>
              {% if myFunction(function='isUserAdmin',params={}) %}
              <li><a href="javascript:void(0)" onClick="getRecordForm('Company','recordform.html',id='{{current_user.CompanyId}}',runFunction='OpenCloseMenu()')"><i class="ti-user"></i>Empresa</a></li>
              {% endif %}
              <li><a href="#" onClick="getTemplate('container-fluid',{'Template':'changepwd.html','runFunction':'OpenCloseMenu()'})"><i class="ti-user"></i>Modificar Password</a></li>
              <li><a href="{{ url_for('logout') }}"><i class="fa fa-power-off"></i> Logout</a></li>
           </ul>
        </li>
        <!-- User profile-->
        <li>
           <a href="#" onClick="showDashboard()" class="waves-effect active"><i class="ti-dashboard p-r-10"></i> <span class="hide-menu"><b>Dashboard</b></span></a>
        </li>
        {% for index in getModulesDir() %}
        {% set module = getModulesDir()[index] %}
        <li class="user-pro" >

          <a href="#"  v-if="{{module|length}}==1"
            :onClick="'getTemplateModule(\'container-fluid\',\'{{index}}\','+ 0 + ')'"
            class="waves-effect">
            <i data-icon="F" :class="'fa ' + '{{module[0].Image}}' + ' fa-fw'"></i>
            <span class="hide-menu"> <b ref="module-{{index}}"></b>
            </span>
          </a>

          <a href="#" class="waves-effect" v-if="{{module|length}}>1">
            <i data-icon="F" :class="'fa ' + '{{module[0].Image}}' + ' fa-fw'"></i>
            <span class="hide-menu">  <b ref="module-{{index}}">{{index}}</b>
              <span class="fa arrow">
              </span>
            </span>
          </a>
          <ul class="nav nav-second-level" v-if="{{module|length}}>1">
            <li v-for="(table,index) in values['{{index}}']">
              <a href="javascript:void(0)"  :onClick="'getTemplateModule(\'container-fluid\',\'{{index}}\','+ index + ')'">
                <i data-icon="F" :class="'fa ' + table.Image + ' fa-fw'"></i>
                {%raw%}{{table.Name}}{%endraw%}
              </a>
            </li>
          </ul>
        </li>
        {% endfor %}
     </ul>
  </div>
</div>

<script src="{{ url_for('static', filename='js/vuemodules.js') }}"></script>
