<h2>{{profId}}</h2>
{% set CalendarFee = myFunction(function='getCalendarDates',params={'profId': var['profId']}) %}
{% for d in getSorted(CalendarFee) %}
  <li><a href="#" onClick="">{{CalendarFee[d][0]['FechaStr']}}</a></li>
  <ul>
  {% for k in CalendarFee[d] %}
    <li><a href="#" onClick="createActivity('{{d}}','{{k['StartTime']}}','{{k['EndTime']}}','{{var['profId']}}','{{k['Date']}}','{{current_user.id}}')">{{k['StartTime']}} a {{k['EndTime']}}</a></li>
  {% endfor %}
  </ul>
{% endfor %}

